:root {
    font-family: "Onest", sans-serif;
    background-color: #020617;
}

#logo {
    margin-top: 24px;
}

#btn_encrypt {
    background-color: #000c1b;
    color: #fff;
    border: 2px solid #5ac2ec;
}

#btn_decrypt, #btn_copy{
    background-color: #87d9f9;
    color: #000c1b;
    border: 2px solid #87d9f9;
}

#btn_copy {
    font-size: 20px;
    font-weight: 600;
    width: 328px;
    padding: 24px;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 50px;
}

#btn_encrypt, #btn_decrypt {
    font-size: 20px;
    font-weight: 600;
    width: 328px;
    padding: 24px;
    box-shadow: 0px 20px 36px -8px #4cd0fc78;
    border-radius: 24px;
    cursor: pointer;
}

#btn_encrypt:hover {
    background-color: #0c192b;
}

#btn_decrypt:hover, #btn_copy:hover {
    background-color: #5ac2ec;
}

.buttons {
    display: flex;
    gap: 40px;
}

#textbox {
    margin: 0 0 16px 0;
    background-color: transparent;
    padding: 20px;
    width: 80%;
    resize: none;
    outline: none;
    border: none;
    height: 20rem;
    font-size: 32px;
    line-height: 48px;
    font-family: "Onest", sans-serif;
    color: #a6e5fe;
    font-weight: 400;
}

.tooltip {
    display: flex;
    margin-bottom: 16px;
}

#tooltiptext {
    font-size: 14px;
    margin-left: 6px;
    color: #c0c1c1;
}

.text_layout {
    display: flex;
    flex-direction: column;
    text-align: center ;
    width: 336px;
    height: 420px;
    margin: 0 2rem 0 0;
    padding: 0 20px 100px 20px;
    border-radius: 30px;
    box-shadow: 0px 20px 36px -8px #4cd0fc78;
}

.no_text_found {
    padding: 50px 0 0 0;
}

#img_empty {
    object-fit: contain;
}

.result_layout {
    text-align: center;
    display: none;
}

#result {
    margin-top: 16px;
    font-size: 24px;
    color: #fff;
    background-color: #020617;
    width: 320px;
    height: 354px;
    outline: none;
    border: none;
    resize: none;
    font-family: "Onest", sans-serif;
    font-weight: 400;
}

#img_empty {
    width: 246px;
    height: 204px;
}

#empty_msg {
    font-size: 24px;
    color: #5ac2ec;
}

#empty_msg_2 {
    font-size: 16px;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.layout {
    margin-left: 8rem;
}

footer {
    font-family: "Onest", sans-serif;
    font-size: 20px;
    width: 100%;
    padding: .2rem 0;
    border-radius: 0 0 24px 24px; 
    text-align: center;
    margin: 5rem 0 0 0;
    background-color: rgb(15 23 42);
    color: #d1d1d1;
}

.mariodev {
    text-decoration: none;
}

.mario {
    color: #fff;
    font-weight: 600;
}

.dev {
    color: #5ac2ec;
    font-weight: 600;
}

@media (max-width: 720px) {
    body {
        margin: 0;
    }
    .container {
        flex-direction: column;
    }
    #logo {
        margin: 0;
        width: 70px;
        height: 70px;
    }
    .layout {
        text-align: center;
        margin: 1rem 0 0 5px;
        width: 100%;
    }
    #textbox {
        padding: 0;
        font-size: 24px;
    }
    #btn_encrypt, #btn_decrypt, .tooltip {
        margin-inline: 50px;
    }
    #btn_encrypt {
        margin-bottom: 24px;
    }
    #btn_copy {
        margin-top: 24px;
        width: 100%;
    }
    .text_layout {
        margin: 5rem 0 1rem 0;
        width: 70%;
    }
    .no_text_found {
        margin: 1rem 0 0 0;
        text-align: center;
    }
    .result_layout {
        margin-top: 2rem;
        width: 100%;
    }
    #result {
        width: 100%;
        height: 330px;
    }
    .buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}